.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    align-items: center;

    &-hero {
        min-height: calc(100vh - 180px);
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/icons/homepage-bg.svg");
        background-size: cover;
        background-position: center center;

        @media (max-width: 768px) {
            min-height: calc(100vh);
        }
    }
}
